
@import url(./font.css);

html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /* theme colors */
    --grey: #4E545A;
    --light-blue: #B1CCEA;
    --black: #0F0F0F;
    --white: #FFFFFF;
    --dark-cyan: #086A6A;
    --cream: #E7CD74;


    /* gradient colors */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


    /* font-family */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
    --Opensans: 'Opensans', cursive;
    --Raleway: 'Raleway', cursive;
    
}

/* -----xx----- Global classes -----xx----- */

a{
    text-decoration: none;
    color: var(--grey);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/* -----xx----- Global classes -----xx----- */



/* -----xx----- navbar -----xx----- */

.nav{
    background:white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem; 
    color: var(--grey);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Raleway);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--dark-cyan);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color: var(--light-blue);
}

/* -----xx----- navbar -----xx----- */



/* -----xx----- for screen less than 750 pixel width -----xx----- */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}

/* -----xx----- for screen less than 750 pixel width -----xx----- */

